<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<div class="container" align="center">
    <div class="col-sm-12 alert alert-danger">
        <h3><p class="bg-danger">У вас недостаточно прав для перехода в данный раздел, для получения информации
            свяжитесь с
            администратором.</p></h3>
    </div>

    <a href="/emp" class="btn btn-primary">Перейти на страницу пользователя</a>

</div>
</div>
</body>
</html>